/** @format */

.container {
  max-width: 50rem;
  width: 100%;

  padding: 2rem;

  border-radius: 3rem;
  box-shadow: 9px 9px 18px #793262, -9px -9px 18px #ff76e6;
}

.display {
  padding: 1rem 2rem;

  border-radius: 1.5rem;
  background: #793262;
  box-shadow: inset 7px 7px 14px #552345, inset -7px -7px 14px #9d417f;
  color: #f5f5f5;

  margin: 1rem;
  margin-bottom: 3rem;

  &__text {
    font-size: 2.75rem;
    text-align: right;
  }

  &__result {
    font-size: 3.5rem;
  }
}

.box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-template-areas:
    "plus subtract multiply divide"
    "seven eight nine clear"
    "four five six equal"
    "one two three equal"
    "d-zero zero decimal equal";
}

.btn {
  padding: 2rem 1rem;
  font-size: 2.5rem;

  color: #fff;
  font-weight: 500;

  outline: none;
  border: none;

  border-radius: 1.5rem;

  margin: 1.5rem;
  transition: 0.3s ease-in;

  cursor: pointer;

  &--1 {
    grid-area: one;
  }
  &--2 {
    grid-area: two;
  }
  &--3 {
    grid-area: three;
  }
  &--4 {
    grid-area: four;
  }
  &--5 {
    grid-area: five;
  }
  &--6 {
    grid-area: six;
  }
  &--7 {
    grid-area: seven;
  }
  &--8 {
    grid-area: eight;
  }
  &--9 {
    grid-area: nine;
  }
  &--0 {
    grid-area: zero;
  }
  &--00 {
    grid-area: d-zero;
  }

  &--decimal {
    grid-area: decimal;
  }

  //   .....................................
  &--plus {
    grid-area: plus;
  }
  &--subtract {
    grid-area: subtract;
  }
  &--multiply {
    grid-area: multiply;
  }
  &--divide {
    grid-area: divide;
  }

  //   ....................................
  &--equal {
    grid-area: equal;

    background-color: #ae2d85;
    box-shadow: 5px 5px 10px #681b50, -5px -5px 10px #f43fba;

    &:active {
      box-shadow: inset 5px 5px 10px #681b50, inset -5px -5px 10px #f43fba;
    }
  }

  &--clear {
    grid-area: clear;

    background-color: #ae2d85;
    box-shadow: 5px 5px 10px #681b50, -5px -5px 10px #f43fba;

    &:active {
      box-shadow: inset 5px 5px 10px #681b50, inset -5px -5px 10px #f43fba;
    }
  }
}

// ///////////////////////////////////////////////

.digits {
  background-color: #c954a4;
  box-shadow: 5px 5px 10px #652a52, -5px -5px 10px #ff7ef6;

  &:active {
    box-shadow: inset 5px 5px 10px #83376b, inset -5px -5px 10px #ff71dd;
  }
}

// ///////////////////////////////////////////////

.operator {
  color: #f5f5f5;

  background-color: #ae2d85;
  box-shadow: 5px 5px 10px #681b50, -5px -5px 10px #f43fba;

  &:active {
    box-shadow: inset 5px 5px 10px #681b50, inset -5px -5px 10px #f43fba;
  }
}
